annotated-types
attrs
blinker
blis
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
cryptography
cymem
docx2txt
Flask
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
langcodes
looseversion
MarkupSafe
murmurhash
nltk
numpy
packaging
pandas
pathlib
pdfminer.six
preshed
pycparser
pycryptodome
pydantic
pydantic_core
PyMuPDF
PyMuPDFb
pyresparser
pyrsistent
python-dateutil
pytz
referencing
regex
requests
rpds-py
six
smart-open
sortedcontainers
spacy
spacy-legacy
spacy-loggers
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
pyresparser
srsly
thinc
tqdm
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
Werkzeug
