annotated-types
attrs
blinker
blis
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
cryptography
cymem
docx2txt
Flask
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
langcodes
Levenshtein
looseversion
MarkupSafe
murmurhash
nltk
numpy
packaging
pandas
pathlib
pdf2image
pdfminer.six
Pillow
plac
preshed
pycparser
pycryptodome
pydantic
pydantic_core
PyMuPDF
PyMuPDFb
pyresparser
pyrsistent
pytesseract
python-dateutil
pytz
rapidfuzz
referencing
regex
requests
