body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  
  .cntr {
    display: grid;
    place-items: center;
  }
  
  .cntr .custom-input {
    width: 300px;
  }
  
  .pic {
    width: 400px;
    height: auto;
    background-image: url('./image/bg.png');
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    background-size: 100% auto;
  }
  
  .board {
    width: 350px;
    height: auto;
    background-color: rgba(196, 226, 228, 0.8);
    border-radius: 10px;
  }
  
  .pad {
    padding: 30px;
  }
  
  .padd {
    padding: 20px;
  }

  .p {
    padding: 10px;
  }

  .hidden-input {
    display: none;
  }
  
  @media (max-width: 768px) {
    .cntr {
      grid-template-columns: 1fr;
    }
  
    .board {
      width: 90%;
    }
  
    .pic {
      width: 90%;
    }
  
    .custom-input {
      width: 100%;
    }
  }
  