<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Form</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="styles.css">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
   <div class="cntr">
       <div class="pic">
           <div class="padd"></div>
           <div class="cntr">
               <div class="board">
                   <div class="cntr">
                       <div class="pad"></div>
                        <h4>Autofill using Resume</h4><br/>
                        <form class="cntr" method="POST" action="/upload" enctype="multipart/form-data">
                        <input type="file" name="resume"/>
                        <div class="padd"></div>
                        <button class="submit-button btn btn-primary" type="submit" >Autofill</button>
                        </form>
                        <div class="pad">OR</div>
                        <div class="custom-input">
                            <div class="input-group">
                                <input type="text" value="{{ resume_data.name }}" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Name</label>
                            </div>
                            <div class="input-group">
                                <input type="email" value="{{ resume_data.email }}" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Email</label>
                            </div>
                            <div class="input-group">
                                <input type="tel"  value="{{ resume_data.mobile_number }}" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Mobile number</label>
                            </div>
                            <div class="input-group">
                                <input type="text" value="{{ resume_data.gender }}" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Gender</label>
                            </div>
                            <div class="input-group">
                                <input type="text"  value="{{ resume_data.degree }}" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Highest Qualification</label>
                            </div>
                            <div class="input-group">
                                <input type="text" value="{{ resume_data.college_name }}" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>College</label>
                            </div>
                            <div class="input-group">
                                <input type="text" value="{{ resume_data.specialization }}" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Specialization/Branch</label>
                            </div>
                            <div class="input-group">
                                <input type="text" value="{{ resume_data.year_of_graduation }}" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Year of Graduation</label>
                            </div>
                            </div>
                       <div class="pad"><button class="submit-button btn btn-primary">Submit</button></div>
                   </div>
               </div>
           </div>
           <div class="padd"></div>
       </div>
   </div>
</body>
</html>